In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [12]:
data = pd.read_csv("matches.csv")

In [13]:
print(data.head())

   id    Season       city        date                        team1  \
0   1  IPL-2017  Hyderabad  05-04-2017          Sunrisers Hyderabad
1   2  IPL-2017       Pune  06-04-2017               Mumbai Indians
2   3  IPL-2017     Rajkot  07-04-2017                Gujarat Lions
3   4  IPL-2017     Indore  08-04-2017       Rising Pune Supergiant
4   5  IPL-2017  Bangalore  08-04-2017  Royal Challengers Bangalore

                         team2                  toss_winner toss_decision  \
0  Royal Challengers Bangalore  Royal Challengers Bangalore         field
1       Rising Pune Supergiant       Rising Pune Supergiant         field
2        Kolkata Knight Riders        Kolkata Knight Riders         field
3              Kings XI Punjab              Kings XI Punjab         field
4             Delhi Daredevils  Royal Challengers Bangalore           bat

   result  dl_applied                       winner  win_by_runs  \
0  normal           0          Sunrisers Hyderabad           35
1  normal           0       Rising Pune Supergiant            0
2  normal           0        Kolkata Knight Riders            0
3  normal           0              Kings XI Punjab            0
4  normal           0  Royal Challengers Bangalore           15

   win_by_wickets player_of_match                                      venue  \
0               0    Yuvraj Singh  Rajiv Gandhi International Stadium, Uppal
1               7       SPD Smith    Maharashtra Cricket Association Stadium
2              10         CA Lynn     Saurashtra Cricket Association Stadium
3               6      GJ Maxwell                     Holkar Cricket Stadium
4               0       KM Jadhav                      M Chinnaswamy Stadium

          umpire1        umpire2 umpire3
0     AY Dandekar       NJ Llong     NaN
1  A Nand Kishore         S Ravi     NaN
2     Nitin Menon      CK Nandan     NaN
3    AK Chaudhary  C Shamshuddin     NaN
4             NaN            NaN     NaN

In [29]:
data.describe()
(data).shape

(756, 21)

In [20]:
#coverting type of columns into categorical type
data['city'] = data['city'].astype('category')
data['team1'] = data['team1'].astype('category')

In [21]:
#ASSIGNING NUMERICAL VALUES 
data['city_new'] = data['city'].cat.codes
data['team1_new'] = data['team1'].cat.codes

In [22]:
#create an instance of one hot encoder
enc = OneHotEncoder()

In [26]:
#passing encoded columns
enc_data = pd.DataFrame(enc.fit_transform(data[['city_new','team1_new']]).toarray())

In [27]:
#merge with main
New_df = data.join(enc_data)

In [28]:
print(New_df)

        id    Season           city        date                        team1  \
0        1  IPL-2017      Hyderabad  05-04-2017          Sunrisers Hyderabad
1        2  IPL-2017           Pune  06-04-2017               Mumbai Indians
2        3  IPL-2017         Rajkot  07-04-2017                Gujarat Lions
3        4  IPL-2017         Indore  08-04-2017       Rising Pune Supergiant
4        5  IPL-2017      Bangalore  08-04-2017  Royal Challengers Bangalore
..     ...       ...            ...         ...                          ...
751  11347  IPL-2019         Mumbai  05-05-2019        Kolkata Knight Riders
752  11412  IPL-2019        Chennai  07-05-2019          Chennai Super Kings
753  11413  IPL-2019  Visakhapatnam  08-05-2019          Sunrisers Hyderabad
754  11414  IPL-2019  Visakhapatnam  10-05-2019               Delhi Capitals
755  11415  IPL-2019      Hyderabad  12-05-2019               Mumbai Indians

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
751               Mumbai Indians               Mumbai Indians         field
752               Mumbai Indians          Chennai Super Kings           bat
753               Delhi Capitals               Delhi Capitals         field
754          Chennai Super Kings          Chennai Super Kings         field
755          Chennai Super Kings               Mumbai Indians           bat

     result dl_applied  ...   38   39   40   41   42   43   44   45   46   47
0    normal          0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
1    normal          0  ...  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2    normal          0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    normal          0  ...  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4    normal          0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
..      ...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
751  normal          0  ...  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
752  normal          0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
753  normal          0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
754  normal          0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
755  normal          0  ...  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0

[756 rows x 69 columns]